[submodule "UnityProject/Assets/Dependencies/protobuf-net-v2-for-ILRuntime"]
	path = UnityProject/Assets/Dependencies/protobuf-net-v2-for-ILRuntime
	url = https://github.com/tianlang0704/protobuf-net-v2-for-ILRuntime.git
[submodule "UnityProject/Assets/Dependencies/Unity-Reorderable-List"]
	path = UnityProject/Assets/Dependencies/Unity-Reorderable-List
	url = https://github.com/tianlang0704/Unity-Reorderable-List.git
